@import "tailwindcss";

:root {
  font-family: Inter, system-ui, sans-serif;
  --color-primary: #1f2937;
  --color-text: #000000;
  --color-secondary: #3b82f6;
  --color-subtitle-1: #4b5563;
  --color-subtitle-2: #9ca3af;
  --color-logo-title: #0c0a09;
  --color-logo-subtitle: #1f6446;
  --color-main-button-bg: #1f6446;
  --color-sec-button-bg: #1f6446;
  --color-home-subtitle-text: #b45309;
  --color-home-title: #0c0a09;
  --color-accent: #b45309;
  --color-card-bg: #fbf7f1;
  --color-checkout-button-bg: #1f6446;
  --color-cart-title: #0c0a09;
  --color-section-title: #0c0a09;
  --color-body-text: #44403c;
  --color-price: #0c0a09;
  --color-page-bg: #ffffff;
  --color-nav-bg: #ffffff;
}

body {
  margin: 0;
  min-height: 100vh;
}
